// _astro-applications.scss

.astro-applications {
	padding-left: 5rem;
	padding-bottom: 1rem;
	h4 {
		margin-bottom: 0.5rem;
		line-height: 1;
	}
	p {
		margin: 0;
	}
}

.projector {
	background: url('../images/projector.jpg') no-repeat left center;
}

.voice {
	background: url('../images/voice-amplification.jpg') no-repeat left center;
}

.multimedia {
	background: url('../images/multimedia.jpg') no-repeat left center;
}

.group {
	background: url('../images/360.jpg') no-repeat left center;
}