// _carousel.scss

.carousel {
	padding: 0 2em;
	background: url('../images/banner-grad-bottom.jpg') 0 25.4em no-repeat;
	h2 {
		@include visuallyhidden;
	}
	article {
		height: 6076 / 240 * 1em;
		width: 896 / 16 * 1em;
		position: relative;
		img {
			position: absolute;
			z-index: -1;
		}
		h3 {
			margin: 0;
			padding-top: 1rem;
			font-size: 2.75em;
			color: $blue-dark;
			font-weight: 100;
			span {
				display: block;
				text-transform: uppercase;
				font-size: 1.58rem;
				font-weight: bold;
				color: $black;
			}
		}
		ul {
			font-size: 1.25em;
			position: absolute;
			left: 20rem;
			top: 13rem;
			list-style-type: square;
			line-height: 2;
			font-weight: bold;
		}
		h4 {
			font-size: 1.3em;
			color: $white;
			position: absolute;
			margin: 0;
			bottom: 0.4rem;
			right: 1rem;
			text-transform: uppercase;
		}
		a {
			position: absolute;
			display: block;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}