// _downloads-nav.scss

.downloads-nav {
	margin-top: 1em;
	background: $grey;
	padding: 1em;

	&> li {
		font-weight: bold;
		margin-bottom: 1rem;
		&:first-of-type {
			color: $blue-dark;
			text-transform: uppercase;
			font-weight: bold;
			ul {
				margin-top: 0.5rem;
			}
		}
	}
	ul li {
		line-height: 1.6;
		font-size: 0.9em;
		padding-left: 1.25em;
		background: url('../images/icon-pdf.gif') no-repeat center left;
	}

	a {
		color: $black;
		text-transform: initial;
		font-weight: initial;
		&:hover {
			text-decoration: underline;
		}
	}
}