// _globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Semibold.otf');
	font-weight: bold;
}

body {
	width: 960 / 16 * 1em;
	margin: 0 auto;
	font: 1em/1.4 $font-stack-sans; 
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}