// _globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Semibold.otf');
	font-weight: bold;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-Light.otf');
	font-weight: 100;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/SourceSansPro-It.otf');
	font-style: italic;
}

body {
	font: 1em/1.4 $font-stack-sans;
	color: $black;
	background: url('../images/cetacea-bg.jpg'); 
}

.wrapper {	
	width: 960 / 16 * 1rem;
	margin: 0 auto;
	background: $white;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

main {	
	padding: 2em;
	.page-content {
		padding: 0 3em 0 4em;
		h2, h3, h4 {
			line-height: 1;
		}
		&> h2 {
			@include visuallyhidden;
		}
		&> p:first-of-type {			
			font-size: 1.2rem;
			line-height: 1.6;
			margin-top: 2rem;
			padding-bottom: 2rem;
			border-bottom: 1px solid $grey;
		}
		h3 {
			color: $blue-bright;
			text-transform: uppercase;
			margin: 3rem 0 1.5rem 0;
		}
		h4 {
			margin: 0;
			padding-bottom: 1rem;
		}
		a {
			color: $blue-bright;
			&:hover {
				color: $blue-light;
			}
		}
		img {
			display: block;
			margin: 0 auto;
		}
		p {
			margin: 0 0 0.75rem 0;
		}
	}
}