// _grid.scss

.col1-2 {
  width: 50%;
}

.col1-3 {
  width: 33.3333%;
}

.col2-3 {
  width: 66.6666%;
}

.col1-4 {
  width: 25%;
}

.col1-5 {
	width: 20%;
}

.col4-5 {
	width: 80%;
}

*.row {
  &:after {
    @include clearfix;
  }
}

article[class*='col'], div[class*='col'], ul[class*='col'], p[class*='col'] {
  float: left;
}
