// _home-promos.scss

.home-promos {
	text-align: center;
	padding: 2em 0;
	h3 {
		text-transform: uppercase;
		color: $blue-dark;
		font-weight: 100;
		border-top: 1px solid $grey;
		border-bottom: 1px solid $grey;
	}
	p {
		margin: 0;
		font-size: 0.9em;
		span {
			display: block;
		}
	}
}