// _home-promos.scss

.home-promos {
	text-align: center;
	padding: 3em 0 2em 0;
	h3 {
		margin: 0.5rem 0;
		text-transform: uppercase;
		color: $blue-dark;
		font-weight: 100;
		padding: 0.25rem 0;		
		background: url('../images/promo-line.jpg') no-repeat top center, url('../images/promo-line.jpg') no-repeat bottom center;
	}
	p {
		margin: 0;
		padding-bottom: 0.5rem;
		font-size: 0.9em;
		text-transform: uppercase;
	}
}