// _page-header.scss

.page-header {
	padding-top: 2em;
	div {
		width: 330 / 16 * 1rem;
		height: 77 / 16 * 1rem;
		float: left;
		h1 {
			@include visuallyhidden;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			background: url('../images/cs-logo.jpg') no-repeat;
		}
	}
	nav {
		float: left;
		margin: 2.25em 0 0 9.7em;
		a {
			display: block;
			padding: 0.5em;
			text-transform: none;
			text-decoration: none;
			color: $black;
		}
		ul ul {
			position: absolute;
			left: 0;
			width: 12em;
			border: 1px solid $dark-grey;
			& li:first-child {
				padding-top: 1em;
			}
		}
		.nav-category {
			float: left;
			position: relative;
			overflow: hidden;
			padding: 0 2.5em 0 0.5em;
			text-transform: uppercase;
			color: $blue-dark;
			&:hover {
				overflow: initial;
			}
		}		
		.nav-break {
			font-weight: bold;
			border-top: 1px solid $dark-grey;
			padding: 0.5em;
			text-transform: none;
		}
	}
	@include clearfix;
}

/*
nav {
	background: #eee;
	border-bottom: 2px solid #999;
	}
	nav li {
		list-style-type: none;
	}
	nav a {
		display: block;
		color: green;
		text-decoration: none;		
		padding: .5em 1em;
		}
		nav a:hover {
			background: #666;
			color: #fff;
			}
			nav ul ul {	
				position: absolute;
				left: 0px;	
				background: #eee;
				}
				nav li li a {
					min-width: 6em;
					border-top: 2px solid #ccc;
				}

.nav-lv1 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	}
	.nav-lv1:hover {
		overflow: initial;
	}*/