// _search-bar.scss

.search-bar {
	background: $blue-bright;
	width: 100%;
	padding: 0.25em 0;
	.searchform {
		float: right;
		width: 25%;
		background: $blue-light;
		padding-bottom: 0.15em;
		.search-text {
			background: $blue-light;
			color: $white;
			text-transform: uppercase;
			font-size: 0.85em;
			font-weight: 100;
			border: none;
			padding-left: 0.5em;
			width: 90%;
		}
		.searchsubmit {
			float: right;
			width: 10%;
			border: none;
			background: url('../images/mag-glass.png') no-repeat 2px 4px;
		}
	}
	@include clearfix;
}

::-webkit-input-placeholder {
   color: $blue-bright;
}

:-moz-placeholder { /* Firefox 18- */
   color: $blue-dark;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $blue-dark;  
}

:-ms-input-placeholder {  
   color: $blue-dark;  
}