// _variables.scss

// Colors
$white: #fff;
$black: #333;
$grey: #eee;
$dark-grey: #999;
$blue-light: #6AC2EA;
$blue-bright: #0095da;
$blue-dark: #005496;

// Fonts
$font-stack-sans: "SourceSansPro", helvetica, arial, sans-serif;

// Nav Colors
$grey-nav-bg: #f5f5f5;
$grey-nav-shadow: #cfcfcf;

// Body Colors

// Footer Colors
