// _variables.scss

// Colors
$white: #fff;
$black: #333;
$grey: #eee;
$dark-grey: #999;
$blue-bright: #0095da;
$blue-dark: #005496;

// Fonts
$font-stack-sans: "SourceSansPro", helvetica, arial, sans-serif;

// Nav Colors

// Body Colors

// Footer Colors
