// _variables.scss

// Colors
$white: #fff;
$black: #333;
$grey: #eee;
$blue-bright: #0093D9;

// Fonts
$font-stack-sans: "lucida grande", helvetica, arial, sans-serif;

// Nav Colors

// Body Colors

// Footer Colors
